{% extends "mudryk/base.html" %}
{% load static %}
{% load mudryk_extras %}

    {% block title %}
        <title>Наші курси</title>
    {% endblock %}
    {% block stylesheet %}
      <link rel="stylesheet" href="{% static 'mudryk/css/our_courses.css' %}">
    {% endblock %}


{% block content %}
    <div class="row-main-title">
        <div class="column-1"></div>
        <div class="column-2">
            <p class="title">Наші курси</p>
        </div>
        <div class="column-3"></div>
    </div>

    {% for course in courses %}
        <div class="course-block">
            <p class="course-name">{{ course }}</p>
            {% for text in course.text_for_course.all %}
                <p class="text-course">{{ text }}</p>
            {% endfor %}
            {% for text_with_list in course.text_with_list_for_course.all %}
                <p class="list-title">{{ text_with_list }}</p>
                <li>
                {% for list_item in text_with_list.list_item_for_text.all %}
                    <ul class="list-item">- {{ list_item }}</ul>
                {% endfor %}
                </li>
            {% endfor %}
            <p class="course-price">{{ course.price }}</p>
        </div>
    {% endfor %}
{% endblock %}

{% block footer %}
<div class="footer">
    <div class="row-footer">
        <div class="column-1-footer">
            <p class="contact-title">Контакти</p>
            <li class="contact-list">
                {% for phone in contact.phones.all %}
                    <ul class="contact-item">{{ phone }}</ul>
                {% endfor %}
            </li>

            <p class="contact-title">Email</p>
            <li class="contact-list">
                <ul class="contact-item">{{ contact.email }}</ul>
            </li>
        </div>
        <div class="column-2-footer">
            <div class="social-links">
                <a class="social-link" href="{{ contact.facebook_link}}">
                    <img src="{% static 'mudryk/images/icons8-facebook-48.png' %}" alt="Facebook">
                </a>
                <a class="social-link" href="{{ contact.instagram_link}}">
                    <img src="{% static 'mudryk/images/icons8-instagram-48.png' %}" alt="Instagram">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}