.row-main-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
}

.column-1 {
    width: 25%;
    padding: 10px;
}

.column-2 {
    width: 50%;
    padding: 10px;
    background-color: #E8CBA0;
    border-radius: 2%;
}

.column-3 {
    width: 25%;
    padding: 10px;
}

.title {
    color: #E8CBA0;
    text-align: center;
    font-size: xxx-large;
    font-weight: bold;
    font-family: Nautilus;
    padding: 10px;
    background-color: #85654b;
    border-radius: 50%;
}

.row-our-team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
}

.column-4 {
    width: 10%;
    padding: 10px;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.column-5 {
    width: 80%;
    padding: 10px;
}

.column-6 {
    width: 10%;
    padding: 10px;
}

.row-our-team-table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team-member-cell {
    width: 33%;
    background-image: url('https://static.vecteezy.com/system/resources/previews/013/939/400/original/naive-pastel-pattern-moon-star-dot-baby-shower-scandinavian-pastel-wallpaper-textile-fabric-design-for-kids-flat-bohemian-neutral-background-paper-vector.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    margin: 30px;
    border-radius: 1%;
}

.member-photo {
    width: 100%;
    display: block;
    height: auto;
}

.row-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

.member-card {

}

.member-name {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    padding: 5px 10px;
    margin: 0;
}

.member-description {
    text-align: center;
    font-size: large;
    padding: 5px 10px;
    margin: 0;
}